<ion-view view-title="{{message.sender}}">
  <ion-content class="padding">
    <div ng-if="!message.message" class="no-messages">Invalid message.</div>

    <div class="message-details" ng-if="message.message">
      <img ng-src="{{message.image}}">
      <p>
        {{message.message}}
      </p>
    </div>
  </ion-content>
</ion-view>
