<ion-view view-title="Compose">
  <ion-content class="padding">
    <div class="header">
      <h3>Welcome to</h3>
      <h1>MessageCentral</h1>
    </div>
    <p class="descriptive-text">
    This is the one stop shop for all forms of messaging. Feel free to type away a message and presses send and it will appear to everyone one <b>MessageCentral</b>.
    </p>


    <div class="list">
      <label class="item item-input">
        <span class="input-label">Sender</span>
        <input type="text" placeholder="Sender" ng-model="message.sender">
      </label>
      <label class="item item-input">
        <span class="input-label">Message</span>
        <textarea placeholder="Message" ng-model="message.text"></textarea>
      </label>
    </div>


    <button class="button button-block button-energized" ng-click="clickSendMessage()">
      Send
    </button>
  </ion-content>
</ion-view>
