<ion-view view-title="Messages">
  <ion-content>
    <div ng-if="messages.length===0" class="no-messages">No messages at this time.</div>
    <ion-list ng-if="messages.length>0">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="message in messages" type="item-text-wrap" href="#/tab/messages/{{message.id}}">
        <img ng-src="{{message.image}}">
        <h2>{{message.sender}}</h2>
        <p>{{message.message}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
