<ion-tabs class="tabs-icon-top tabs-color-active-royal">

  <!-- Compose Tab -->
  <ion-tab title="Compose" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/compose">
    <ion-nav-view name="tab-compose"></ion-nav-view>
  </ion-tab>

  <!-- Messages Tab -->
  <ion-tab title="Messages" icon-off="ion-ios-email-outline" icon-on="ion-ios-email" href="#/tab/messages">
    <ion-nav-view name="tab-messages"></ion-nav-view>
  </ion-tab>

</ion-tabs>
