/********** ********** ********** ********** **********
 *
 *    Compose Message
 *
 ********** ********** ********** ********** **********/

.header {
  padding: 40px 0;
  text-align: center;
}

.header h3 {
  color:#662d91;
}

.header h1 {
  color:#fecc0c;
}

p.descriptive-text {
  color: #662d91;
  padding-bottom: 40px;
}

/********** ********** ********** ********** **********
 *
 *    All Messages
 *
 ********** ********** ********** ********** **********/
.no-messages {
  color: #ccc;
  font-size: 24px;
  padding-top: 50%;
  text-align: center;
}

/********** ********** ********** ********** **********
 *
 *    Specific message
 *
 ********** ********** ********** ********** **********/
.message-details {
  text-align: center;
}

.message-details img {
  width: 30%;
  margin: 50px 35%;
}
